@using PCShop.Web.ViewModels.Admin.ComputerManagement
@using static PCShop.GCommon.ApplicationConstants

@model ComputerManagementFormInputModel

@{
    ViewData["Title"] = "Add Computer";
    string today = DateTime.Now.ToString(DateAndTimeInputFormat);
}

<div class="d-flex justify-content-between align-items-center mb-3 mt-4">
    <h2 class="fw-bold">@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-area="Admin" asp-controller="ComputerManagement" asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label asp-for="Name" class="form-label">Computer Name</label>
                    <input asp-for="Name" class="form-control" aria-required="true" />
                    <span asp-validation-for="Name" class="text-danger small"></span>
                </div>

            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <textarea asp-for="Description" class="form-control" rows="3" aria-required="true"></textarea>
                <span asp-validation-for="Description" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Price" class="form-label">Price (in euro)</label>
                <input asp-for="Price" class="form-control" aria-required="true" />
                <span asp-validation-for="Price" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CreatedOn" class="form-label">Created On</label>
                <input asp-for="CreatedOn" class="form-control" type="datetime-local" aria-required="true"
                       value="@(string.IsNullOrEmpty(Model.CreatedOn) ? today : Model.CreatedOn)" />
                <span asp-validation-for="CreatedOn" class="text-danger small"></span>
            </div>

            <div class="mb-4">
                <label asp-for="ImageFile" class="form-label">Computer Image</label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <small class="text-muted">Accepted formats: .jpg, .jpeg, .png, .webp</small>
                <span asp-validation-for="ImageFile" class="text-danger small"></span>
            </div>

            <div class="mb-2">
                <button type="submit" class="btn btn-success w-100 py-2 fw-bold rounded">
                    <i class="fas fa-save"></i> Save Computer
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
