@using Microsoft.AspNetCore.Http  
@inject IHttpContextAccessor HttpContextAccessor  
@using PCShop.Data.Models  
@model IEnumerable<Product>?  

<h2>Search results for "@HttpContextAccessor.HttpContext?.Request.Query["query"]"</h2>  

@if (Model != null && Model.Any())  
{  
    <ul>  
        @foreach(var item in Model)  
        {  
            <li>@item.Name</li>  
        }  
    </ul>  
}  
else  
{  
    <p>No results found.</p>  
}
